<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zkq.weapon">
    <permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--通用权限-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/WeaponAppTheme">

        <activity android:name=".base.WebViewPluginActivity"
            android:screenOrientation="portrait"/>

    </application>


</manifest>