<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zkq.alldemo">

    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 访问帐户列表 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 更新设备状态使用证书 -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取使用Wi-Fi等WLAN无线网络 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- sd卡写入权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 指纹识别权限 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:name">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fortest.colorprogresswithspeed.ColorProgressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fortest.okhttp.OKHttpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fortest.dialog.DialogTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fortest.flowlayout.FlowLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fortest.actionbar.MyToolbarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fortest.scaleanimation.ScaleAnimationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fortest.scrollclash.ScrollClashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fortest.rxjava_retrofit.RxjavaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fortest.fingertest.FingerprintMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fortest.countdown.demo1.CountdownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fortest.countdown.demo2.Demo2Activity"
            android:screenOrientation="portrait" />
    </application>

</manifest>